ansible==4.0.0
ansible-core==2.11.1
appdirs==1.4.4
argcomplete==1.12.3
boto3==1.17.79
botocore==1.20.79
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
datadog==0.41.0
decorator==5.0.9
distlib==0.3.2
filelock==3.0.12
idna==2.10
Jinja2==3.0.1
jmespath==0.10.0
MarkupSafe==2.0.1
mercurial==5.8
packaging==20.9
pathspec==0.8.1
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.4.1
requests==2.25.1
resolvelib==0.5.4
s3transfer==0.4.2
six==1.16.0
toml==0.10.2
urllib3==1.26.4
virtualenv==20.4.7
xmltodict==0.12.0
yamllint==1.26.1
yq==2.12.0
getpass
